<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles/assignment-view.css">

    <title>Assignment Viewer Login</title>

</head>

<body>

<header class="dropdown-header">
    <a href="/student/logout" class="btn">
        Logout
    </a>
</header>

<section class="" id="">

    <div class="container jumbotron">
        <table class="table-striped table-bordered" id="table1">
            <thead>
            <tr>
                <th>Assignment</th>
                <th>Course</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {{#each assignmentList}}
                <tr>
                    <td>
                        <a href="/student/{{username}}/assignment/{{uuid}}" target="_blank" rel="noopener">{{name}}</a>
                    </td>
                    <td>
                        {{course}}
                    </td>
                    <td>
                        {{createdDateTime}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>




</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>

</html>